* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #101932;
    font-family: 'Montserrat';
}



header {
    background-image: url(../img/Group\ 51.png);
    background-repeat: no-repeat;
}

.container {
    max-width: 1776px;
    margin: 0 auto;
    padding: 20px;
}

.header-nav-text {
    color: white;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.header-nav-text-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-nav-text-bottom {
    display: flex;
    align-items: center;
}

.header-nav-text p {
    margin-right: 25px;
    cursor: pointer;
    transition: 300ms ease;
}

.header-nav-text p:hover {
    color: #E11D2E;
}

.header-nav-btn {
    background-color: #AC1216;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0px 30px;
    text-align: center;
    border-radius: 10px;
    transition: 300ms ease;
    cursor: pointer;
    border: 1px solid transparent;
}

.header-nav-btn:hover {
    background-color: transparent;
    border: 1px solid #ffffff10;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}

.nav-img {
    cursor: pointer;
}

.text-red {
    color: #E11D2E;
}

main {
    height: 856px;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main-left-top {
    color: white;
    font-size: 80px;
    font-weight: 800;
}

.header-main-left-mid {
    color: #71768E;
    font-size: 25px;
    margin-top: 5px;
    font-weight: 500;
}

.header-main-left-center {
    color: #A0A3B5;
    font-size: 32px;
    font-weight: 400;
    margin-top: 40px;
}

.header-main-left-btn-left {
    padding: 0px 54px;
    height: 80px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #E11D2E;
    margin-right: 25px;
    transition: 300ms ease;
    border: 1px solid transparent;
    cursor: pointer;
}

.header-main-left-btn-left:hover {
    background-color: transparent;
    border: 1px solid #ffffff10;
}

.header-main-left-btn-right {
    padding: 0px 30px;
    height: 80px;
    color: white;
    background-color: #ffffff05;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 300ms ease;
    cursor: pointer;
    border: 1px solid transparent;
}

.header-main-left-btn-right:hover {
    border: 1px solid #E11D2E;
    color: #E11D2E;
}

.header-main-left-btn {
    display: flex;
    align-items: center;
    margin-top: 46px;
}

.header-main-left-search {
    width: 720px;
    height: 75px;
    border: 1px solid #ffffff09;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.search-input {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 30px;
}

.search-top {
    font-size: 15px;
    color: #ffffff20;
    padding-left: 30px;
}

.header-main-left {
    margin-top: 82px;
}

.spidershiba {
    padding-right: 120px;
    width: 100%;
}

.header-bottom {
    width: 100%;
    height: 38px;
    background-color: #5A4039;
    color: #FFF50060;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    margin-top: 129px;
}

main {
    margin-top: 50px;
    position: relative;
}


.container-1 {
    width: 1090px;  
    margin: 0 auto;
}

marquee {
}

.header-bottom-m {
    margin-right: 20px;
}

.header-bottom {
    display: flex;
}

.section-top {
    position: relative;
    z-index: 100;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


.section-top-item {
     opacity: 10%;
    transition: 300ms ease;
    cursor: pointer;
    background-size: 20%;
    width: 94px;
    background-repeat: no-repeat;
    height: 30px;

}

.section-top-item:hover {
    opacity: 1;
}

.rule-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 300px;
    background-color: red;
}

.rule-glav {
    width: 950px;
    height: 950px;
    background-color: #143D85;
    opacity: 0.05;
    border-radius: 100%;
    position: absolute;
}

.rule-1 {
    width: 750px;
    height: 750px;
    opacity: 10%;
    background-color: #143D85;
    border-radius: 100%;
    position: absolute;

}

.rule-2 {
    width: 550px;
    height: 550px;
    opacity: 10%;
    background-color: #143D85;
    border-radius: 100%;
    box-shadow: 0px 0px 20px 10px;
    position: absolute;

}

.vector {
    background-image: url(../img/Vector.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 924px;
    height: 868px;
    bottom: -300px;
}

.rule-logo {
    background-image: url(../img/Group\ 28.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 350px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -280px;
}

.rule-logo-spider {
    width: 195px;
}

.vector-right {
    position: absolute;
    right: 0;
    top: -315px;
    right: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vector-right-bottom-rule {
    width: 108px;
    height: 108px;
    background-color: #0096F220;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.vector-right-bottom-rule-inside {
    background-color: #0096F2;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.vector-left-bottom-rule {
    width: 108px;
    height: 108px;
    background-color: #E11D2E20;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.vector-left-bottom-rule-inside {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #E11D2E;
}

.vector-left {
    position: absolute;
    left: 80px;
    bottom: -30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vector-bottom {
    position: absolute;
    right: 230px;
    top: 220px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vector-bottom-bottom-rule {
    width: 108px;
    height: 108px;
    background-color: #FF942920;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.vector-bottom-bottom-rule-inside {
    background-color: #FF9429;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.rule-btn {
    font-size: 22px;
    font-weight: 600px;
    color: white;
    width: 215px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #E11D2E;
    border-radius: 10px;
    text-align: center;
    top: 120px;
    transition: 300ms ease;
    cursor: pointer;
}

.rule-btn:hover {
    border: 2px solid #A0A3B520;
    background-color: transparent;
}

.rule-text {
    font-size: 35px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 230px;
    text-align: center;
}

.section-text {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: 700;
}

.section-cont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section-cont-item {
    background-color: #384D70;
    width: 570px;
    padding: 30px 40px;
    border-radius: 20px;

}

.section-cont-item-1 {
    margin-right: 50px;

}

.section-cont-item-img {
    background-color: #EA0B1E10;
    border-radius: 20px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-cont-item-img-inside {
    width: 70px;
    height: 70px;
    background-color: #E11D2E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-cont {
    margin-top: 50px;
}

.section-cont-text-top {
    font-size: 35px;
    color: white;
    font-weight: 600;
    margin-top: 30px;
}

.section-cont-text-mid {
    font-size: 20px;
    color: #FFFFFF30;
    margin-top: 10px;
    font-weight: 400;
}

.section-cont-text-bottom {
    font-size: 23px;
    color: #ffffff70;
    font-weight: 500;
    margin-top: 30px;
}

.yellow {
    background-color: #FF942910;
}

.inside-yellow {
    background-color: #FF9429;

}

.blue {
    background-color: #0096F210;
}

.inside-blue {
    background-color: #0096F2;

}

.cont-play {
    padding-top: 100px;
    position: relative;
    margin: 0 auto;
    z-index: 80;

}

.play-text {
    font-size: 50px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.text-nft {
    font-size: 25px;
    color: #ffffff50;
    text-align: center;
    margin-top: 10px;
}

.play-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 40px;
    margin-top: 50px;
}

.play-item-block {
    background-color: red;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.play-item-block:nth-child(1) {
    grid-column: 1/3;
    background-color: #071022;
    padding: 36px 50px 60px 50px;
    display: flex;
    align-items: center;
}

.play-item-block:nth-child(2) {
    background-color: #FF9429;
    padding: 35px;
    display: flex;
    align-items: center;

}

.play-item-block:nth-child(3) {
    background-color: #067CCB;
    padding: 35px;
    display: flex;
    align-items: center;

}

.play-item-block-left {
   width: 75%;
}

.play-item-block-left-img {
    background-image: url(../img/image\ 35.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 649px;
    height: 288px;
    border-radius: 30px;
}

.play-item-block-left-img-shibu {
    background-image: url(../img/spidershiba-img.png);
    width: 186px;
    height: 186px;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(-30deg);
}

.play-item-block-left-img-block {
    background-image: url(../img/spider.svg);
    height: 287px;
    width: 288px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-item-block-right-text-top {
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.play-item-block-right-text-bottom {
    font-size: 19px;
    color: #ffffff60;
    font-weight: 400;
    margin-top: 20px;
}

.play-item-block-right {
    margin-left: 43px;
}

.play-item-block-left-img-block-goblin {
    background-image: url(../img/image\ 36.png);
    width: 288px;
    height: 287px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.play-item-block-cash-top {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.play-item-block-cash-bottom {
    color: white;
    font-size: 23px;
    margin-top: 20px;
    font-weight: 400;
}

.play-item-block-cash {
    margin-left: 30px;
}

.invest-background {
    width: 100%;
    height: 662px;
    background-color: #30298C;
    margin-top: 175px;
    position: relative;
}

.spider {
    position: absolute;
    background-image: url(../img/Vector\ \(1\).png);
    width: 644px;
    height: 604px;
    z-index: 50;
    top: -50%;
}

.star {
    position: absolute;
    top: 24px;
    left: 40%;
}

.invest-left-top {
    font-size: 50px;
    color: white;
    font-weight: 700;
}

.invest-left {
    margin-top: 27px;
}

.invest-left-center {
    font-size: 20px;
    color: #ffffff60;
    font-weight: 400;
    margin-top: 20px;
}

.invest-left-btn {
    background-color: #E11D2E;
    color: white;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    width: 380px;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-radius: 10px;
    margin-top: 40px;
}

.invest-right-item-img {
    width: 107px;
    height: 107px;
    background-color: #ffffff10;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invest-right-item-img img {
    margin-top: 35px;
}

.invest {
    display: flex;
    padding-top: 150px;
    justify-content: space-between;

}

.invest-right-item-text-top {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.invest-right-item-text-bottom {
    color: #ffffff80;
    font-size: 28px;
    font-weight: 400;
}

.invest-right-item {
    display: flex;
}

.invest-right-item-text {
    margin-left: 21px;
}

.item-margin {
    margin-top: 50px;
}

.road {
    font-size: 50px;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 70px;
}

.road-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 40px;
    margin-top: 50px;
    margin-bottom: 130px;
}

.road-item-block {
    border-radius: 20px;
    overflow: hidden;
    padding: 35px;
    display: flex;
    border: 1px solid #ffffff10;
}

.road-item-block:nth-child(1) {
    background-color: #384D7020;

}

.road-item-block:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 306px;
    background-color: #384D7020;

}

.road-item-block:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: #384D7020;


}

.road-item-block:nth-child(4) {
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: #384D70;
}

.road-item-block:nth-child(5) {
    grid-column: 1/2;
    grid-row: 5/6;
    background-color: #384D70;

}

.road-item-block-left {
    background-color: #384D7020;
    width: 138px;
    height: 146px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff50;
    font-size: 65px;
    font-weight: 700;
}

.road-item-block-right {
    margin-left: 30px;
}

.road-item-block-right-top {
    font-size: 30px;
    color: #ffffff80;
    font-weight: 500;
}

.road-item-block-right-bottom {
    margin-top: 20px;

}

.color {
    font-size: 23px;
    color: #ffffff80;
    font-weight: 400;
    margin-left: 22px;
}

.invest-background-color {
    background-color: #ffffff10;
}

.text-white {
    color: white;
}


.team-text {
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding-top: 70px;
    text-align: center;
}

.team {
    background-color: #162344;
    height: fit-content;
    padding-bottom: 120px;
    width: 100%;
}

.team-item {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
}

.cont-3 {
    margin: 0 auto;

}

.team-block-img img {
    width: 100%;
}

.team-block-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.team-block-text-top {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-top: 20px;
}

.team-block-text-bottom {
    font-size: 22px;
    color: #ffffff60;
    font-weight: 600;
    margin-top: 13px;

}

.team-block-text {
    text-align: center;
}

.team-block {
    margin-right: 54px;
}

.line {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.container-2 {
    position: relative;
    height: 100%;
}

.line-bottom {
    height: 320px;
    width: 2px;
    background-color: #E11D2E;
}

.line-coloro {
    background-color: #384D70;
}

.team-block-box {
    width: 10px;
    height: 10px;
    background-color: #A2A7B4;
    margin-right: 15px;

}

.team-block-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 47px;
}

.team-text-color-red {
    background-color: #E11D2E;
}

.partners {
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
}

.partners-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.partners-item-bottom {
    display: flex;
    align-items: center;
}

.partners-item-mid {
    display: flex;
}

.partners-item-top {
    display: flex;
    align-items: center;
}

.partners-item img {
    padding: 0px 10px;
    opacity: 60%;
    transition: 300ms ease;
    cursor: pointer;
}

.partners-item img:hover {
    opacity: 1;

}

.questions-text {
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 48px;
}

.qustions-block-right {
    background-color: #E11D2E;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    z-index: 50;
    transition: 300ms ease;
    cursor: pointer;
}

.qustions-block-right:hover {
   
}

.qustions-block-left {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.qustions-block:hover .qustions-block-right {
    border: 2px solid #E11D2E;
    background-color: transparent;
}

.qustions-block {
    width: 1036px;
    height: 75px;
    border-radius: 15px;
    background-color: #384D70;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    padding-left: 35px;
    margin-bottom: 20px;
    z-index: 40;
    cursor: pointer;
    transition: 300ms ease;
}

.cont-4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 130px;
    z-index: 40;
}

.earth {
    background-image: url(../img/earth.svg);
    width: 1144px;
    height: 657px;
    position: absolute;
    top: 198px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
    opacity: 10%;
}

.section-4 {
    position: relative;
}

.join-text {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.join-cont {
    background-color: #162758;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-cont-item-block {
    background-color: #E11D2E;
    border-radius: 15px;
    height: 108px;
    width: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    cursor: pointer;
    transition: 300ms ease;
}

.join-cont-item-block:hover {
    background-color: transparent;
    border: 2px solid #E11D2E;
}

.join-cont-item {
    display: flex;
    align-items: center;
    margin-top: 110px;
}

.cont-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spider-bottom {
    margin-top: 168px;
    margin-bottom: 187px;
}

footer {
    background-color: #0D1428;
    width: 100%;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: #ffffff40;
    cursor: pointer;
}